<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref=".place">Place</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref-active="active" ui-sref=".photo">Photo</a>
        </li>
    </ul>
</div>
<br /><br /><br />
<div class="container">
    <div>
        <div ui-view="">
            <div class="jumbotron text-center">Select option</div>
        </div>
    </div>
</div>
